<div ng-controller="adminToolsCtrl">
	<div class="s-stationery-head-left">
		<h3>
			<span>下载中心</span>
		</h3>
	</div>
	<div class="clearfix"></div>
	<br>
	<table>
		<tr>
			<th>类型\地点</th>
			<th>陆家嘴</th>
			<th>张江</th>
			<th>大连</th>
		</tr>
		<tr>
			<th>采购报表</th>
			<td><input type="button" class="btn-download" value="采购表&陆家嘴"
				ng-click="download('purchase_sheet', 'LJZ')" onmouseover="this.style.backgroundPosition='left -42px'"
				onmouseout="this.style.backgroundPosition='left top'" /></td>
			<td><input type="button" class="btn-download" value="采购表&张江"
				ng-click="download('purchase_sheet', 'ZJ')" onmouseover="this.style.backgroundPosition='left -42px'"
				onmouseout="this.style.backgroundPosition='left top'" /></td>
			<td><input type="button" class="btn-download" value="采购表&大连"
				ng-click="download('purchase_sheet', 'DL')" onmouseover="this.style.backgroundPosition='left -42px'"
				onmouseout="this.style.backgroundPosition='left top'" /></td>
		</tr>
		<tr>
			<th>分发报表</th>
			<td><input type="button" class="btn-download" value="分发表&陆家嘴"
				ng-click="download('dispatch_sheet', 'LJZ')" onmouseover="this.style.backgroundPosition='left -42px'"
				onmouseout="this.style.backgroundPosition='left top'" /></td>
			<td><input type="button" class="btn-download" value="分发表&张江"
				ng-click="download('dispatch_sheet', 'ZJ')" onmouseover="this.style.backgroundPosition='left -42px'"
				onmouseout="this.style.backgroundPosition='left top'" /></td>
			<td><input type="button" class="btn-download" value="分发表&大连"
				ng-click="download('dispatch_sheet', 'DL')" onmouseover="this.style.backgroundPosition='left -42px'"
				onmouseout="this.style.backgroundPosition='left top'" /></td>
		</tr>
	</table>
	<br>
	<div class="s-stationery-head-left">
		<h3>
			<span>截止日期</span>
		</h3>
	</div>
	<div class="clearfix"></div>
	<br>
	<form name="dateform" ng-submit="setDeadline()">
		<input type="text" name="date" id="d241"
			onfocus="WdatePicker({lang:'zh-cn', dateFmt:'yyyy年MM月dd日 HH时mm分ss秒'})"
			class="Wdate" style="width: 250px" value="" /> <input type="submit"
			value="设置" />
	</form>
	<div class="clearfix"></div>
	<br>
	<div class="s-stationery-head-left">
		<h3>
			<span>设置公告</span>
		</h3>
	</div>
	<div class="clearfix"></div>
	<br>
	<form name="noteform" ng-submit="setNote()">
		<textarea rows="4" cols="38" name="note"></textarea>
		<input type="submit" value="发布" />
	</form>
	<div class="clearfix"></div>
	<br>
	<div class="s-stationery-head-left">
		<h3>
			<span>根据soeId搜索员工文具信息</span>
		</h3>
	</div>
	<div class="clearfix"></div>
	<br>
	<form name="soeidform" ng-submit="searchOrdersBySoeid()">
		<input type="text" name="soeidForSerch" value=""/> <input type="submit"
			value="搜索" />
	</form>
	<div class="clearfix"></div>
	<div ng-repeat="item in ordersBySoeid">
	{{item.quantity}} {{item.stationery.standard}} {{item.stationery.name|shortName}}</div>
</div>