<!DOCTYPE html>
<html>

<head>
  <title>Personal Center</title>
  <meta charset="utf-8">
  <meta name="author" content="Sean">
  <link rel="shortcut icon" href="Images/ico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Styles/index.css">
  <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
  <script src="bootstrap-3.3.7-dist/js/jquery.min.js"></script>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="portfolioCtrl">
  <header>
    <span class="logoName"><em>Data First</em></span>

    <ul>
      <li><a href="index.html">home</a></li>
      <li  class="active-li"><a href="">my portfolios</a></li>
    </ul>
  </header>
  <div id="main" class="analysis">
    <div class="page-header user-page-header">
      <h1><span class="icon-signal"></span>my portfolios</h1>
      <button class="btn btn-default create" ng-click="checkRepeat()">Create portfolio</button>
      <input style="float: right;margin: 22px 10px 0 0;" type="text" name="portName" ng-model="portName">
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>stocks number</th>
          <th>edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="portfolio in portfolios">
          <td>{{portfolio.portfolioname}}</td>
          <td>{{portfolio.quantity}}</td>
          <td>
            <a href="portfolio.html?portfolioname={{portfolio.portfolioname}}&quantity={{portfolio.quantity}}">
              <button class="btn btn-default">view</button>
            </a>
            <button class="btn btn-default" ng-value={{portfolio.portfolioname}} index="{{$index}}" ng-click="delete($event)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <footer>
    @copyright; 2017 Sean Yi, Inc.
    <br>
  </footer>


  <!-- 模态框（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">my portfolio list</h4>
        </div>
        <div class="modal-body">
          <ul class="portfolio-title">
            <li id="create">create new:
              <input type="text" name="portName" id="portName" ng-model="portName">
              <div ng-click="createPortfolio()">+</div>
            </li>
          </ul>
          <ul class="portfolio-list">
            <li ng-repeat="portfolio in portfolios">
              <input type="radio" name="portName" ng-model="choosedPort" ng-value={{$index}}>
              <p ng-value="{{portfolio}}">{{portfolio}}</p>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
          <button type="button" ng-click="addTicker($event)" class="btn btn-primary">ok</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
  <div>
</body>

</html>
<script type="text/javascript" src="Scripts/user.js"></script>