<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false">
	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="citi.controller" />
	<context:component-scan base-package="citi.hibernate.entity" />
	<!-- 静态资源 -->
	<mvc:resources mapping="/Styles/**" location="/Styles/" />
	<mvc:resources mapping="/Scripts/**" location="/Scripts/" />
	<mvc:resources mapping="/dataTable/**" location="/dataTable/" />
	<mvc:resources mapping="/bootstrap-3.3.7-dist/**" location="/bootstrap-3.3.7-dist/" />
	<mvc:resources mapping="/files/**" location="/files/" />
	<mvc:resources mapping="/Images/**" location="/Images/" />
	<mvc:resources mapping="/**" location="/" />
	<mvc:resources mapping="/index.html" location="/" />
</beans>